@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700');

body{
    margin: 0 auto;
    /* overflow: hidden; */
}

a{
    text-decoration: none;
    color: #000;
    transition: color .5s ease;
}

a:hover{color: #FFA692; transition: color .6s ease;}

h1{font-family: 'Merriweather', serif;}
p{font-family: 'Montserrat', sans-serif;}
button{font-family: 'Montserrat', sans-serif; cursor: pointer;}

.hero{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

.hero2{
    width: 100%;
    height: auto;
    background: #fff;;
}

nav{
    position: relative;
    width: 90%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    padding-right: 5%;
    z-index: 10;
}

nav>h3{display: inline-block;}
.mobile-close-btn{display: none;}


.menuLink{
    display: block;
    width: auto;
    height: 50px;
    float: right;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    background: none;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* Menu link animtions */
.hoverRight {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hoverRight:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFA692;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}

.hoverRight:hover,
.hoverRight:focus,
.hoverRight:active {
    color: white;
}

.hoverRight:hover:before,
.hoverRight:focus:before,
.hoverRight:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.hoverRight2 {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: .9s;
    transition-duration: .9s;
}

.hoverRight2:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: .9s;
    transition-duration: .9s;
    -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hoverRight2:hover,
.hoverRight2:focus,
.hoverRight2:active {
    color: white;
}

.hoverRight2:hover:before,
.hoverRight2:focus:before,
.hoverRight2:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
/* end */
.heroHeading{
    margin-bottom: 4%;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.heroI{
    font-weight: 900;
    color: #C4C4C4;
    font-style: italic;

}

.heroSubHeading{
    padding-bottom: 17%;
    text-align: center;
}

.flower{
    margin-top: -21%;
    z-index: 100;
    max-width: 90%;
    max-height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.NewRow{
    width: auto;
    height: auto;
    margin-bottom: -150px;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 65%;
    padding-bottom: 5%;
}

.NewRow2{
    width: auto;
    height: auto;
    padding-top: 20%;
    padding-left: 60%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.NewRow>p{
    position: relative;
    text-align: left;
    padding-bottom: 30px;
    z-index: -100;
}

.rowDetails{
    position: relative;
    left: 50px;
}

.hiVector{
    position: relative;
    top: -250px;
    left: 180%;
    margin-top: 0;
    margin-bottom: 0;
}

.returnVector{
    position: relative;
    top: -350px;
    left: 180%;
    margin-top: 0;
    margin-bottom: 0;
}

.row-2-vector{
    position: relative;
    top: -250px;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
}

.row-2-details{
    position: relative;
    left: 750px;
}


.link{
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    color: #C4C4C4;
    cursor: pointer;
    transition: all 1s ease-out;
}

.link:hover{
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    color: #20283C;
    cursor: pointer;
    transition: all 1s ease-out;
}

.shopBtn{
    width: 150px;
    height: 44px;
    background: #20283C;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
    transition: all .5s linear;
}

.shopBtn:hover{color: #20283C;}

.sizeBtn{
    margin-right: 10px;
    width: 150px;
    height: 44px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
    transition: all .5s linear;
    color: #20283C;
    border: #20283C solid 3px;
    background: none;
    transition: all .5s linear;
}

.sizeBtn:hover {
    color: #fff;
    background: #20283C;
    transition: all .5s linear;
}

.sizeBtnClicked{
    margin-right: 10px;
    width: 150px;
    height: 44px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
    transition: all .5s linear;
    color: #20283C;
    border-bottom: #000 solid 3px;
    background: none;
}

.sizeSelector{
    margin-top: 100px;
    color: #C4C4C4;
    font-size: .8em;
}

.stepCounter{
    color: #C4C4C4;
    font-size: 1em;
    letter-spacing: .2em;
}

.slideIn {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeInDown{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: normal;
}
.fadeInDown2{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1.7s;
    animation-iteration-count: initial;
    animation-direction: normal;
}
.fadeUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeUpIndex{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 2.5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeUp2{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 5.8s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeUpMenu{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 2.5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeupitem-d1{    
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
    animation-duration: .5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeupitem-d2{    
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeupitem-d3{    
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
    animation-duration: 1.5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeupitem-d4{    
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: ease-out;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: normal;
}



#mainContent{overflow: hidden; height: 769px;}

.menuGroup{
    width: 100%;
    height: 1000px;
    background: #F5F5F5;
}

.flowerMenu{
    position: absolute;
    z-index: 1;
}

.flowerMenu>a>button{
    margin-left: 47%;
}

.phone{margin-left: 832px; margin-bottom: 10px;}

.flowerMenu>.phone>img{
    width: 40px;
    display: inline-block;
}

.flowerMenu>.phone>p{
    position: relative;
    left: 10px;
    top: -6px;
    display: inline-block;
}

.flowerMenu>img{
    transform: rotate(-20deg);
    margin-left: 640px;
    margin-top: -100px;
}

.menuLinks{
    position: relative;
    top: -13%;
    padding-top: 12%;
    padding-left: 4%;
    width: 50%;
    height: 100%;
    background: white;
    z-index: 1;
}

.menuBtn{
    display: block;
    margin-top: 5%;
    margin-bottom: 45px;
    width: auto;
    height: 100px;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 80px;
    font-weight: bold;
    border: none;
    background: none;
    transition: all 1s ease; 
}

.menuBtn:hover{
    color: #000;  
    padding-left: 30px;
    transition: all 1s ease; 
}

.customerSupportBtn{
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    width: auto;
    height: 100px;
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: bold;
    border: none;
    background: none;
    z-index: 20;
}

.subLink{
    display: inline-block;
    width: auto;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: none;
    transition: all .5s ease-out; 
}

.subLink:hover{
    color: #FFA692;  
    transition: all .5s ease-out; 
}

.subLinkI{
    display: block;
    width: auto;
    height: auto;
    padding-bottom: 5%;
    color: rgb(163, 163, 163);
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    border: none;
    background: none;
    transition: all .5s ease-out; 
}

.subLinkI:hover{
    color: #FFA692;  
    text-decoration: underline;   
    transition: all .5s ease-out; 
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
 }

.designerGroup{    
    width: 70%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 90px;
    background: #F5F5F5;
}

.designerGroup2{    
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
    background: #fff;
}

.designerGroup2>img{
    width: 95%;
    height: auto;
    position: relative;
    left: -100px;
    top: -190px;
}

.btn3>button{
    position: relative;
    top: 130px;   
    width: 639px;
    height: 103px;
    left: -100px;
    background: #20283C;
    color: #F5F5F5;
    font-size: 10px;
    letter-spacing: .5em;
    border: none;
    transition: all .5s ease;
}

.btn3>button:hover{
    background: #fff;
    color: #20283C;
    -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.29);
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.29);
    transition: all .5s ease;
}

.btn-font{
    font-family: 'Merriweather', serif;
    letter-spacing: 0;
    font-weight: bold;
    font-style: italic;
    letter-spacing: .3em;
}

.gdprAlert{
    position: fixed;
    top: 600px;
    z-index: 10;
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background: #C4C4C4;
    -webkit-box-shadow: 0px 0px 130px -26px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 0px 0px 130px -26px rgba(0, 0, 0, 0.64);
    box-shadow: 0px 0px 130px -26px rgba(0, 0, 0, 0.64);

}

.gdprAlert > p{
    display: inline-block;
    margin-right: 3%;
    text-align: left;
    line-height: 1.6em;
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 700;
}

.gdprAlert > button{margin-top: -15px;}
.alertLink{
    text-decoration: underline;
    color: white;
    font-weight: normal;
}



/* Animations */
@-webkit-keyframes fadeIn {
    from {
        -webkit-transform: opacity(0%);
        opacity: 0;
        visibility: visible;
    }

    to {
        -webkit-transform: opacity(100%);
        opacity: 100;
    }
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}