@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700');

body{margin: 0 auto;}

a{text-decoration: none;}
h1{font-family: 'Merriweather', serif;}
p{font-family: 'Montserrat', sans-serif;}
button{font-family: 'Montserrat', sans-serif; cursor: pointer;}

.hero{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

nav{
    position: relative;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 50px;
    z-index: 10;
}

nav>h3{display: inline-block;}

.menuLink{
    margin-left: 70%;
    display: inline-block;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Menu link animtions */
.hoverRight {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.hoverRight:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFA692;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hoverRight:hover,
.hoverRight:focus,
.hoverRight:active {
    color: white;
}

.hoverRight:hover:before,
.hoverRight:focus:before,
.hoverRight:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

/* end */
.heroHeading{
    margin-bottom: 4%;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.heroI{
    font-weight: 900;
    color: #C4C4C4;
    font-style: italic;

}

.heroSubHeading{
    padding-bottom: 17%;
    text-align: center;
}

.flower{
    position: relative;
    margin-top: -21%;
    text-align: center;
    z-index: 100;
}

.NewRow{
    width: auto;
    height: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 60%;
    padding-bottom: 5%;
}

.NewRow2{
    width: auto;
    height: auto;
    padding-top: 20%;
    padding-left: 60%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.NewRow>p{
    position: relative;
    text-align: justify;
    padding-bottom: 30px;
    z-index: -100;
}

.link{
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    color: #C4C4C4;
    cursor: pointer;
}

.shopBtn{
    width: 150px;
    height: 44px;
    background: #20283C;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.hiVector{
    margin-top: -22%;
    margin-left: 55%;
    width: 20%;
    height: 20%: 
}

.NewRowVector{
    margin-top: -22%;
    margin-left: 10%;
    width: 20%;
    height: 20%: 
}

.slideIn {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeInDown{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: normal;
}
.fadeInDown2{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1.7s;
    animation-iteration-count: initial;
    animation-direction: normal;
}
.fadeUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeUp2{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 5.8s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.menuGroup{
    width: 100%;
    height: 1000px;
    background: #F5F5F5;
}

.flowerMenu{
    position: absolute;
    z-index: 1;
}

.flowerMenu>a>button{
    margin-left: 47%;
}

.phone{margin-left: 832px; margin-bottom: 10px;}

.flowerMenu>.phone>img{
    width: 40px;
    display: inline-block;
}

.flowerMenu>.phone>p{
    position: relative;
    left: 10px;
    top: -6px;
    display: inline-block;
}

.flowerMenu>img{
    transform: rotate(-20deg);
    margin-left: 640px;
    margin-top: -100px;
}

.menuLinks{
    position: relative;
    top: -13%;
    padding-top: 12%;
    padding-left: 4%;
    width: 50%;
    height: 100%;
    background: white;
    z-index: 1;
}

.menuBtn{
    display: block;
    margin-top: 5%;
    margin-bottom: 45px;
    width: auto;
    height: 100px;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 80px;
    font-weight: bold;
    border: none;
    background: none;
    transition: all .5s ease-in; 
}

.menuBtn:hover{
    color: #000;  
    padding-left: 30px;
    transition: all 1s ease-out; 
}

.customerSupportBtn{
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    width: auto;
    height: 100px;
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: 50px;
    font-weight: bold;
    border: none;
    background: none;
    z-index: 20;
}

.subLink{
    display: inline-block;
    width: auto;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: bold;
    border: none;
    background: none;
    transition: all .5s ease-out; 
}

.subLink:hover{
    color: #FFA692;  
    transition: all .5s ease-out; 
}

.subLinkI{
    display: block;
    width: auto;
    height: auto;
    padding-bottom: 5%;
    color: rgb(163, 163, 163);
    text-align: left;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
    border: none;
    background: none;
    transition: all .5s ease-out; 
}

.subLinkI:hover{
    color: #FFA692;  
    text-decoration: underline;   
    transition: all .5s ease-out; 
}


/* Animations */
@-webkit-keyframes fadeIn {
    from {
        -webkit-transform: opacity(0%);
        opacity: 0;
        visibility: visible;
    }

    to {
        -webkit-transform: opacity(100%);
        opacity: 100;
    }
}
@keyframes fadeIn {
    from {opacity: 0;}

    to {opacity: 100;}
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  