@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:600,700');

body{margin: 0 auto;}

a{text-decoration: none;}
h1{font-family: 'Merriweather', serif;}
p{font-family: 'Montserrat', sans-serif;}
button{font-family: 'Montserrat', sans-serif; cursor: pointer;}

.hero{
    width: 100%;
    height: auto;
    background: #F5F5F5;
}

nav{
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    height: 50px;
}

nav>h3{display: inline-block;}

.menuLink{
    margin-left: 70%;
    display: inline-block;
    background: none;
    border: none;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
}

.heroHeading{
    margin-bottom: 4%;
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.heroI{
    font-weight: 900;
    color: #C4C4C4;
    font-style: italic;

}

.heroSubHeading{
    padding-bottom: 17%;
    text-align: center;
}

.flower{
    position: relative;
    margin-top: -21%;
    text-align: center;
    z-index: 100;
}

.NewRow{
    width: auto;
    height: auto;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 60%;
    padding-bottom: 5%;
}

.NewRow2{
    width: auto;
    height: auto;
    padding-top: 20%;
    padding-left: 60%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.NewRow>p{
    position: relative;
    text-align: justify;
    padding-bottom: 30px;
    z-index: -100;
}

.link{
    margin-right: 30px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-style: italic;
    color: #C4C4C4;
    cursor: pointer;
}

.shopBtn{
    width: 150px;
    height: 44px;
    background: #20283C;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}

.hiVector{
    margin-top: -22%;
    margin-left: 55%;
    width: 20%;
    height: 20%: 
}

.NewRowVector{
    margin-top: -22%;
    margin-left: 10%;
    width: 20%;
    height: 20%: 
}

.slideIn {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    animation-duration: 2s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeIn{
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-timing-function: ease-in;
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeInDown{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    animation-iteration-count: initial;
    animation-direction: normal;
}
.fadeInDown2{
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
    animation-duration: 1.7s;
    animation-iteration-count: initial;
    animation-direction: normal;
}
.fadeUp{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 5s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.fadeUp2{
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    animation-timing-function: cubic-bezier(0, 1.01, 0.58, 1);
    animation-duration: 5.8s;
    animation-iteration-count: initial;
    animation-direction: normal;
}

.menuGroup{
    width: 100%;
    height: 1000px;
    background: #F5F5F5;
}

.menuBtn{
    display: block;
    margin-top: 5%;
    margin-left: 4%;
    margin-bottom: 90px;
    width: auto;
    height: 50px;
    font-family: 'Merriweather', serif;
    font-size: 80px;
    font-weight: bold;
    background: none;
    border: none;
}


/* Animations */
@-webkit-keyframes fadeIn {
    from {
        -webkit-transform: opacity(0%);
        opacity: 0;
        visibility: visible;
    }

    to {
        -webkit-transform: opacity(100%);
        opacity: 100;
    }
}
@keyframes fadeIn {
    from {opacity: 0;}

    to {opacity: 100;}
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  